.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.config/GIMP/
.config/Thunar/
.config/btop/
.config/dconf/
.config/discord/
.config/dmenu-jn/
.config/gtk-2.0/
.config/htop/
.config/ncmpcpp/lyrics/Beach House - Space Song.txt
.config/ncmpcpp/lyrics/The Neighbourhood - Sweater Weather.txt
.config/neofetch/
.config/nvim/
.config/pavucontrol.ini
.config/picom/
.config/pip/
.config/pipewire/
.config/pulse/
.config/qalculate/
.config/rncbc.org/
.config/systemd/
.config/volumeicon/
.config/xfce4/
.dotnet/
.fehbg
.lesshst
.local/include/
.local/lib/
.local/share/
.local/state/
.mozilla/
.mpd/
.npm/
.nuget/
.pki/
.terminfo/
.theme
.token
.venv/
.vim/
.viminfo
.wget-hsts
Desktop/
Downloads/
Music/
qmk_firmware/
